<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Space Deck!</title>
</head>
<body>
    
    <div class="container">
        <h1 class="heading">
            Welcome to <br><span class="highlight">Space Deck ⋆˚꩜｡</span>
        </h1>
        <p class="main-text">
            My Humble Attempt at Measuring the Cosmos Through the Tools Made by Sapiens!<br class="hide-mobile">
            This Project is Being Crafted with Love - using Python and Spicepy!
        </p>
        <h2>
            EARTH MEASUREMENTS AS CALCULATED ON {{ date }} AT 12 AM, UTC!
        </h2>
        <div class="content">
            <p>&gt; Earth is <span class="highlight"><strong>{{ data.distance }}</strong></span> Kilometeres away from the Sun!</p>
            <p>&gt; That is <span class="highlight"><strong>{{ data.distance_au }}</strong></span> Astronomical Units!</p>
            <p>&gt; Sunlight will take <span class="highlight"><strong>{{ data.light_time }}</strong></span> Seconds to reach you!</p>
            <p>&gt; That is, it will take <span class="highlight"><strong>{{ data.light_time_minutes }}</strong></span> Minutes!</p>
        </div>
    </div>

</body>
</html>